body
  .page
    .container.title
      h1 Random Quote Generator
  
    .container.quote
      
      p#quote Only new quotes come to those that click the button below
      
      p#author - Karl Marx
        
     .container.buttons
       a(href="https://twitter.com/intent/tweet?text=Hello%20world")#twitter: button.btn Tweet quote
       button.btn#getQuote New Quote
        